<!DOCTYPE html>
<html>

<head>

    <title>Vikas Sir Classes</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="container">

        <h1>Vikas Sir Classes</h1>

        <h2>
            English Learning Portal
        </h2>

        <br>

        <a href="/teacher">
            <button>
                Teacher Login
            </button>
        </a>

        <br><br>

        <a href="/student">
            <button>
                Student Login
            </button>
        </a>

    </div>

</body>

</html>