<!DOCTYPE html>

    <title>Student Dashboard</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="topbar">
        Student Dashboard
    </div>

    <div class="container">

        <div class="card">

            <h2>
                Welcome {{ student.name }}
            </h2>

            <h3>
                Marks: {{ student.marks }}
            </h3>

            <h3>
                Attendance: {{ attendance_percent }}%
            </h3>

        </div>

        <div class="card">

            <h2>Notes</h2>

            {% for note in notes %}

            <div class="note-card">

                <a href="/uploads/{{ note }}">
                    {{ note }}
                </a>

            </div>

            {% endfor %}

        </div>

        <a href="/test">
            <button>
                Open Online Test
            </button>
        </a>

    </div>

</body>
</html>