<!DOCTYPE html>
            <ul>

                {% for s in students %}

                <li class="note-card">

                    <b>{{ s[1] }}</b>

                    <br>

                    Marks: {{ s[3] }}

                    <br><br>

                    <a href="/mark_attendance/{{ s[0] }}/Present">
                        <button>
                            Present
                        </button>
                    </a>

                    <a href="/mark_attendance/{{ s[0] }}/Absent">
                        <button>
                            Absent
                        </button>
                    </a>

                </li>

                {% endfor %}

            </ul>

        </div>

        <div class="card">

            <h2>Create Test Question</h2>

            <form action="/add_question" method="POST">

                <input type="text" name="question" placeholder="Question">

                <input type="text" name="op1" placeholder="Option 1">

                <input type="text" name="op2" placeholder="Option 2">

                <input type="text" name="op3" placeholder="Option 3">

                <input type="text" name="op4" placeholder="Option 4">

                <input type="text" name="answer" placeholder="Correct Answer">

                <button type="submit">
                    Add Question
                </button>

            </form>

        </div>

    </div>

</body>
</html>